.header-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
    --mat-toolbar-container-background-color: var(--mat-sys-on-primary-container);
    --mat-toolbar-container-text-color: var(--mat-sys-background);

    mat-icon {
        color: var(--mat-sys-background);
    }
}